/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Color */
:root {
    --white-color: #FFFFFF;
    --black-color: #1C1B1B;
    --yellow-color: #F8B86D;
}





body.pdp {
    /* background-color: #FFF6EA; */
    background: url(../images/bg.png);
    background-size: 80%;

}





/* Product產品介紹頁 */

.pdp-name {
    margin: auto;
    max-width: 587px;
    width: 100%;



}

.pdp-name h5 {
    font-size: 18px;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    padding: 16px;
    margin: 36px auto 0px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0px 2px 4px 0px #0000001A;

}







/* swiper */
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px !important;
    color: var(--yellow-color);
    font-weight: 900;

}


.gallery {
    margin: auto;
    display: flex;
    gap: 18px;
    justify-content: center;
    padding: 16px;

}

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0 !important;

}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #0000001A;

}



/* .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
} */

/* .swiper-slide {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
} */

.mySwiper2 {
    height: 100%;
    width: 100%;
    order: 2;
    max-width: 460px;
    box-shadow: 0px 2px 4px 0px #0000001A;
    border-radius: 10px;

}



.mySwiper {
    box-sizing: border-box;
    padding: 10px 0;
    order: 1;
    height: 460px;
    width: 109px;
}

.mySwiper .swiper-wrapper {
    flex-direction: column;
    gap: 8px;

}

.mySwiper .swiper-slide {
    width: 109px !important;
    height: 109px !important;
}

/* ------------------------------------------ */

.pdp-info {
    max-width: 587px;
    margin: 0px auto 100px;
}

.pdp-info .container {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    margin-bottom: 16px;
}


.pdp-info .container .money {
    display: flex;
    font-family: 'Roboto';
    align-items: baseline;
    background-color: var(--white-color);
    border-radius: 10px;
    max-width: 353px;
    width: 100%;
    padding: 10px 18px;
    box-shadow: 0px 2px 4px 0px #0000001A;

}

.pdp-info .container .money .vip {
    font-size: 30px;
    font-weight: 600;
    color: #FF5F5F;
}


.pdp-info .container .money .price {
    font-size: 16px;
    color: var(--black-color);
    text-decoration: line-through;
}

.pdp-info .container .contact {
    display: flex;
    gap: 8px;
    background-color: var(--black-color);
    border-radius: 10px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    width: 100%;
    text-decoration: none;
    transition: 0.6s;
    box-shadow: 0px 2px 4px 0px #0000001A;
}

.pdp-info .container .contact:hover {
    background-color: var(--yellow-color);
}

.pdp-info .container .contact:hover h5 {
    color: var(--black-color);
}

.pdp-info .container .contact:hover path {
    fill: var(--black-color);
}




.pdp-info .container .contact h5 {
    font-size: 16px;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    color: var(--white-color);

}


.pdp-info .title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #0000001A;

}

.pdp-info .title img {
    width: 42px;
    height: 15.77px;
}

.pdp-info .title h5 {
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 20px;
    color: var(--black-color);
}

.pdp-info .detail p {
    font-size: 16px;
    color: var(--black-color);
    padding: 16px 16px 150px 16px;
    background-color: var(--white-color);
    border-radius: 10px;
    margin-top: 16px;
    box-shadow: 0px 2px 4px 0px #0000001A;

}



@media screen and (max-width: 576px) {

    /* 產品介紹頁 */
    .pdp-name h5 {
        margin: 36px 16px 0px;
    }

    /* swiper */
    .gallery {
        flex-direction: column;
    }

    .mySwiper .swiper-wrapper {
        flex-direction: row !important;

    }


    .mySwiper {
        order: 2;
        width: 100%;
        height: auto;

    }

    .mySwiper2 {
        order: 1;
        max-width: none;

    }

    /* ---------------------------------------------- */

    .pdp-info {
        margin: 0px 16px 60px;
    }



}